In [1]:
import pandas as pd
import numpy as np

In [15]:


df_sheet_multi = pd.read_excel("/Users/leahokamura/CS290/CS290FinalProject/data/CSP-2017-2021-By-State.xlsx", sheet_name=None)

In [19]:
df_sheet_multi["Arkansas"]

,Year,Total,Total Passed,% Passed,Num Black,Black Passed,% Black Passed,% Black,Num Hispanic,Hisp Passed,...,% Male NA,Num 2+ Male,Male 2+ Passed,% Male 2+ Passed,% Male 2+,Num Other Male,Male Other Passed,% Male Other Passed,% Male Other,Unnamed: 108
0,2017,492,228,46.34,49,13,26.53,9.96,62,25,...,0.41,24,8,33.33,4.88,0,0,0,0.00,
1,2018,781,361,46.22,83,11,13.25,10.63,76,28,...,0.77,25,13,52.00,3.20,0,0,0,0.00,
2,2019,851,455,53.47,98,23,23.47,11.52,87,39,...,0.47,31,17,54.84,3.64,0,0,0,0.00,
3,2020,939,494,52.61,103,33,32.04,10.97,93,47,...,1.28,24,8,33.33,2.56,0,0,0,0.00,
4,2021,952,462,48.53,69,13,18.84,7.25,98,31,...,0.74,35,13,37.14,3.68,25,9,36,2.63,

In [21]:
for i in df_sheet_multi:
    df_sheet_multi[i]["State"]=i

In [24]:
df_sheet_multi["Alabama"]

,Year,Total,Total Passed,% Passed,Num Black,Black Passed,% Black Passed,% Black,Num Hispanic,Hisp Passed,...,Num 2+ Male,Male 2+ Passed,% Male 2+ Passed,% Male 2+,Num Other Male,Male Other Passed,% Male Other Passed,% Male Other,Unnamed: 108,State
0,2017,1249,816,65.33,143,52,36.36,11.45,69,37,...,43,28,65.12,3.44,0,0,0.00,0.00,,Alabama
1,2018,1607,911,56.69,216,81,37.50,13.44,97,44,...,49,31,63.27,3.05,0,0,0.00,0.00,,Alabama
2,2019,1969,1064,54.04,264,69,26.14,13.41,135,53,...,51,30,58.82,2.59,0,0,0.00,0.00,,Alabama
3,2020,1892,1047,55.34,311,144,46.30,16.44,142,75,...,58,28,48.28,3.07,0,0,0.00,0.00,,Alabama
4,2021,2064,1103,53.44,253,63,24.90,12.26,151,68,...,65,33,50.77,3.15,41,20,48.78,1.99,,Alabama

In [25]:
df = pd.concat(df_sheet_multi, ignore_index=True)

In [28]:
df.to_csv("data/CSP_ALL.csv")

In [29]:
df_sheet_multi2 = pd.read_excel("/Users/leahokamura/CS290/CS290FinalProject/data/CSA-2010-2021-By-State.xlsx", sheet_name=None)

In [31]:
for i in df_sheet_multi2:
    df_sheet_multi2[i]["State"]=i

In [36]:
df2 = pd.concat(df_sheet_multi2, ignore_index=True)

In [37]:
df2.to_csv("data/CSA_ALL.csv")

In [38]:
df2

,Year,Total,Total Passed,% Passed,Num Black,Black Passed,% Black Passed,% Black,Num Hispanic,Hisp Passed,...,Num 2+ Male,Male 2+ Passed,% Male 2+ Passed,% Male 2+,Num Other Male,Male Other Passed,% Male Other Passed,% Male Other,Unnamed: 108,State
0,2010,104,52,50.00,11,3,27.27,10.58,5,0,...,0,0,0.0,0.00,0,0,0.0,0.00,,Alabama
1,2011,99,61,61.62,18,5,27.78,18.18,1,0,...,0,0,0.0,0.00,0,0,0.0,0.00,,Alabama
2,2012,97,61,62.89,9,5,55.56,9.28,2,0,...,0,0,0.0,0.00,2,0,0.0,2.06,,Alabama
3,2013,126,99,78.57,8,6,75.00,6.35,1,0,...,0,0,0.0,0.00,1,0,0.0,0.79,,Alabama
4,2014,197,111,56.35,20,5,25.00,10.15,7,0,...,0,0,0.0,0.00,4,0,0.0,2.03,,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2017,8,5,62.50,0,0,0.00,0.00,0,0,...,1,0,0.0,12.50,0,0,0.0,0.00,,Wyoming
608,2018,11,5,45.45,0,0,0.00,0.00,0,0,...,0,0,0.0,0.00,0,0,0.0,0.00,,Wyoming
609,2019,13,11,84.62,0,0,0.00,0.00,0,0,...,0,0,0.0,0.00,0,0,0.0,0.00,,Wyoming
610,2020,22,19,86.36,0,0,0.00,0.00,0,0,...,0,0,0.0,0.00,0,0,0.0,0.00,,Wyoming
611,2021,26,22,84.62,0,0,0.00,0.00,1,0,...,1,0,0.0,3.85,3,0,0.0,11.54,,Wyoming